<style>
  body {
    background-color: pink;
  }
</style>
<marquee direction="right"><h1 style="color:red">Here are all the users!</h1></marquee>
<ul style="list-style: none;">
{{#each users}}
  <li><a href="/users/{{id}}">{{name}}</a></li>
{{/each}}
<ul>