<div style="margin: 0 auto; text-align: center;">
  <marquee direction="right">
    <h1 style="color:red">{{name}}</h1>
  </marquee>
  <img style="padding: 20px; border: thin dashed green;" src="{{pic_url}}"/>
</div>